<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissions for saving photos (Android 9 and below) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    
    <!-- Health Connect Permissions (Android only) -->
    <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED"/>
    <uses-permission android:name="android.permission.health.WRITE_ACTIVE_CALORIES_BURNED"/>
    <uses-permission android:name="android.permission.health.READ_WEIGHT"/>
    <uses-permission android:name="android.permission.health.WRITE_WEIGHT"/>
    <uses-permission android:name="android.permission.health.READ_DIETARY_ENERGY_CONSUMED"/>
    <uses-permission android:name="android.permission.health.WRITE_DIETARY_ENERGY_CONSUMED"/>
    <uses-permission android:name="android.permission.health.READ_DIETARY_PROTEIN_CONSUMED"/>
    <uses-permission android:name="android.permission.health.WRITE_DIETARY_PROTEIN_CONSUMED"/>
    <uses-permission android:name="android.permission.health.READ_DIETARY_CARBS_CONSUMED"/>
    <uses-permission android:name="android.permission.health.WRITE_DIETARY_CARBS_CONSUMED"/>
    <uses-permission android:name="android.permission.health.READ_DIETARY_FATS_CONSUMED"/>
    <uses-permission android:name="android.permission.health.WRITE_DIETARY_FATS_CONSUMED"/>
    
    <!-- Activity Recognition (needed for some health data on Android) -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:label="sophis"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Deep linking for meal sharing -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sophis" android:host="share" />
            </intent-filter>
            <!-- Health Connect permissions screen -->
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        </activity>
        
        <!-- Health Connect permission rationale for Google Play review -->
        <activity-alias
            android:name="ViewPermissionUsageActivity"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <receiver android:name=".SophisWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>
    
    <!-- Required to query activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Health Connect -->
        <package android:name="com.google.android.apps.healthdata" />
        <intent>
            <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
        </intent>
    </queries>
</manifest>
